# dependências
node_modules

# build
dist
dist-ssr
*.local

# editores
.vscode/*
!.vscode/extensions.json
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variáveis de ambiente
.env
.env.local
